[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky
Comment=Monitore o seu Linux com o Conky
Exec=conky --daemonize --pause=1  -c  /opt/conky/conkyrc-conky_transparente &
Icon=/usr/share/icons/extras/conky.jpg
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

