[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=NumLock
Comment=Para iniciar com a tecla Num Lock ativada  ao iniciar o XFCE.
Exec=numlockx on

# Icon=/usr/share/icons/hicolor/128x128/apps/org.xfce.settings.keyboard.png
# Icon=/usr/share/icons/Adwaita/scalable/devices/input-keyboard.svg
Icon=input-keyboard

OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

