[Desktop Entry]
# 
# 
# Entrada de aplicativos
# 
# As entradas de desktop para aplicativos, ou arquivos .desktop, geralmente são uma combinação de 
# recursos de meta informações e um atalho de um aplicativo. Esses arquivos geralmente residem em 
# /usr/share/applications/ ou /usr/local/share/applications/ para aplicativos instalados em todo 
# o sistema ou ~/.local/share/applications/ para aplicativos específicos do usuário. As entradas 
# do usuário têm precedência sobre as entradas do sistema.
# 
# 
# Exemplo de arquivo
# 
# A seguir, é apresentado um exemplo de sua estrutura com comentários adicionais. O exemplo serve 
# apenas para dar uma impressão rápida e não mostra como utilizar todas as chaves de entrada 
# possíveis. A lista completa de chaves pode ser encontrada na especificação da freedesktop. 
# 
# 
# 
# 
# Atualizar banco de dados de entradas desktop
# 
# Para que as entradas da área de trabalho definidas em ~/.local/share/applications funcionem, execute o seguinte comando:
# 
# $ update-desktop-database ~/.local/share/applications
# 
# 
# https://wiki.archlinux.org/title/Desktop_entries_(Portugu%C3%AAs)
# 
# 
# --------------------------------------------------------------------------------------------------------------------------------------------------------------------
# 
# 
# Agendar Tarefas - Crontab
# 
# 
# O Cron é um programa daemon de agendamento de trabalhos baseado em tempo, encontrado em sistemas 
# operacionais do tipo Unix. O Cron executa em segundo plano e tarefas agendadas com o cron, conhecidas 
# como "cron jobs" (trabalhos do cron), são executadas automaticamente, o que torna o cron útil para 
# automatizar tarefas relacionadas à manutenção.
# 
# Os trabalhos do cron são registrados e gerenciados em um arquivo especial conhecido como crontab. 
# Cada perfil de usuário no sistema pode ter seu próprio arquivo crontab - onde o usuário poderá agendar 
# trabalhos - que fica armazenado em /var/spool/cron/.
# 
# 
# Para agendar um trabalho, simplesmente abra seu crontab para edição e adicione uma tarefa escrita na forma 
# de uma expressão cron. A sintaxe para expressões cron pode ser dividida em dois elementos: o agendamento 
# e o comando a executar.
# 
# O comando pode ser praticamente qualquer comando que você executaria normalmente na linha de comando. O 
# componente de agendamento da sintaxe é dividido em 5 campos diferentes, os quais vêm escritos na seguinte 
# ordem:
# 
# Campo 	         Valores permitidos
# minuto 	                0-59
# hora 	                        0-23
# Dia do mês         	1-31
# mês 	                        1-12 ou JAN-DEC
# Dia da semana 	          0-6 ou SUN-SAT
# 
# Juntas, as tarefas agendadas em um arquivo crontab são estruturadas da seguinte forma:
# 
# minute hour day_of_month month day_of_week command_to_run
# 
# 
 # crontab -e  => Isso abrirá seu crontab no editor de texto padrão do seu perfil de usuário (geralmente o vi).
# 
# O vi é um editor de texto extremamente eficaz e flexível; porém, para os usuários que não têm experiência com ele, 
# o vi pode parecer um pouco lento.
# 
# Se quiser usar um editor de texto mais acessível como seu editor padrão do crontab, instale e configure o nano como tal.
# 
# Para definir o nano como o seu editor visual padrão de perfil de usuário, abra o arquivo .bash_profile  ou .bashrc
# 
# No final do arquivo, adicione a seguinte linha:
# 
# . . .
#
# export VISUAL="nano"  ou export EDITOR=nano
#
#
# Em seguida, recarregue o .bash_profile  ou .bashrc para que o shell capte a nova mudança:
#
#
# Isso define a variável de ambiente VISUAL para o nano. A VISUAL é uma variável de ambiente Unix que muitos programas 
# - incluindo o crontab - invocam para editar um arquivo.
#
# Se quiser visualizar o conteúdo do seu crontab, sem editá-lo, você pode usar o seguinte comando:
#
#
#   crontab -l
#
#
# ls -lh /var/spool/cron/
#
#
# Conclusão
# 
# O Cron é um utilitário flexível e eficaz, que pode reduzir a carga de trabalho de muitas tarefas associadas à administração 
# do sistema. Quando combinado com scripts de shell, é possível automatizar tarefas que normalmente são tediosas ou 
# complicadas.
# 
# 
# https://www.digitalocean.com/community/tutorials/how-to-use-cron-to-automate-tasks-centos-8-pt



# O tipo como listado acima
Type=Application

# A versão da especificação de entrada de desktop com a qual este arquivo está em conformidade
Version=1.0

# O nome do aplicativo
Name=Agendar Tarefas no Void Linux - Crontab - Root

# Um comentário que pode/será usado como uma dica da ferramenta
Comment=Usar o Cron para automatizar tarefas.

# O caminho para a pasta na qual o executável é executado
Path=


# O executável do aplicativo, possivelmente com argumentos

Exec=pkexec env DISPLAY=:0 XAUTHORITY=/root/.Xauthority  crontab -e && sv restart  crond ; sleep 5

# Exec=pkexec env DISPLAY=:0 XAUTHORITY=/root/.Xauthority xfce4-terminal --title='Agendar Tarefas - Crontab'  -e 'crontab -e && sv restart  crond ; sleep 5'  

# su -c "export EDITOR=nano"  && 



# O nome do ícone que será usado para exibir esta entrada
Icon=/home/fernando/.icons/extras/imag.jpg

# Descreve se este aplicativo precisa ser executado em um terminal ou não
Terminal=true

# Descreve as categorias nas quais esta entrada deve ser mostrada
Categories=System;

