[Desktop Entry]
# 
# 
# Entrada de aplicativos
# 
# As entradas de desktop para aplicativos, ou arquivos .desktop, geralmente são uma combinação de 
# recursos de meta informações e um atalho de um aplicativo. Esses arquivos geralmente residem em 
# /usr/share/applications/ ou /usr/local/share/applications/ para aplicativos instalados em todo 
# o sistema ou ~/.local/share/applications/ para aplicativos específicos do usuário. As entradas 
# do usuário têm precedência sobre as entradas do sistema.
# 
# 
# Exemplo de arquivo
# 
# A seguir, é apresentado um exemplo de sua estrutura com comentários adicionais. O exemplo serve 
# apenas para dar uma impressão rápida e não mostra como utilizar todas as chaves de entrada 
# possíveis. A lista completa de chaves pode ser encontrada na especificação da freedesktop. 
# 
# 
# 
# 
# Atualizar banco de dados de entradas desktop
# 
# Para que as entradas da área de trabalho definidas em ~/.local/share/applications funcionem, execute o seguinte comando:
# 
# $ update-desktop-database ~/.local/share/applications
# 
# 
# https://wiki.archlinux.org/title/Desktop_entries_(Portugu%C3%AAs)


# O tipo como listado acima
Type=Application

# A versão da especificação de entrada de desktop com a qual este arquivo está em conformidade
Version=1.0

# O nome do aplicativo
Name=Check apache

# Um comentário que pode/será usado como uma dica da ferramenta
Comment=Visualizar arquivos .log [Apache Web Server]

# O caminho para a pasta na qual o executável é executado
Path=

# O executável do aplicativo, possivelmente com argumentos
Exec=/usr/local/bin/checkapache.sh

# O nome do ícone que será usado para exibir esta entrada
Icon=/usr/share/icons/extras/pngwing.com5.png

# Descreve se este aplicativo precisa ser executado em um terminal ou não
Terminal=false

# Descreve as categorias nas quais esta entrada deve ser mostrada
Categories=Servidor;

