[Desktop Entry]
# 
# 
# Entrada de aplicativos
# 
# As entradas de desktop para aplicativos, ou arquivos .desktop, geralmente são uma combinação de 
# recursos de meta informações e um atalho de um aplicativo. Esses arquivos geralmente residem em 
# /usr/share/applications/ ou /usr/local/share/applications/ para aplicativos instalados em todo 
# o sistema ou ~/.local/share/applications/ para aplicativos específicos do usuário. As entradas 
# do usuário têm precedência sobre as entradas do sistema.
# 
# 
# Exemplo de arquivo
# 
# A seguir, é apresentado um exemplo de sua estrutura com comentários adicionais. O exemplo serve 
# apenas para dar uma impressão rápida e não mostra como utilizar todas as chaves de entrada 
# possíveis. A lista completa de chaves pode ser encontrada na especificação da freedesktop. 
# 
# 
#
#
# Localização padrão dos diretórios:
#
# Diretório de aplicativos padrão para os aplicativos do sistema:
#
#  /usr/share/applications
#
# Diretório dos aplicativos do usuário:
#
# $HOME/.local/share/applications
#
#
# 
# 
# Atualizar banco de dados de entradas desktop
# 
# Para que as entradas da área de trabalho definidas em ~/.local/share/applications funcionem, execute o seguinte comando:
# 
# $ update-desktop-database ~/.local/share/applications
# 
# 
# https://wiki.archlinux.org/title/Desktop_entries_(Portugu%C3%AAs)
# https://diolinux.com.br/tecnologia/como-editar-o-menu-da-sua-distro.html
# https://www.vivaolinux.com.br/topico/vivaolinux/Restringir-funcionalidades-para-conta-aluno/?pagina=01
# https://youtu.be/sSRpkaMlflM
# https://alternativapara.com.br/s/toolwiz-time-freeze
#
# 
# Shadow Defender (Windows)
#
# https://alternativapara.com.br/s/shadow-defender
# 
# 
# Deep Freeze (Windows)
# 
# https://alternativapara.com.br/s/deep-freeze
# 
# 
# Toolwiz Time Freeze (Windows)
#
# https://alternativapara.com.br/s/toolwiz-time-freeze
#
#
#
# Dessa forma, os arquivos de configuração padrão serão copiados para a pasta home do usuário a cada sessão, 
# restaurando as configurações padrão.



# Confira algumas das opções e uma breve explicação sobre os parâmetros do arquivo .desktop:



# O tipo como listado acima
Type=Application

# A versão da especificação de entrada de desktop com a qual este arquivo está em conformidade
Version=1.0

# Nome da aplicação.
Name=Congelar usuário - user-Lan-House-faxina.sh

# Um comentário que pode/será usado como uma dica da ferramenta / Descrição da aplicação.
Comment=Podemos sugerir a utilização dos programas deeplock e Ofrisis, além da ferramenta Epoptes para complementar a tarefa. Estes programas permitem congelar a conta do usuário, resetando os navegadores e permitindo guardar o conteúdo em um local seguro, como uma pasta no diretório /.backup. O script executa esse procedimento de uma outra forma.


# O caminho para a pasta na qual o executável é executado
Path=

# O executável do aplicativo, possivelmente com argumentos / Diretório do arquivo executável. / link do site
Exec=xfce4-terminal --maximize --title="Uma alternativa ao Deep Freeze para Linux..." -e '/usr/local/bin/user-Lan-House-faxina.sh  ajuda'

# O nome do ícone que será usado para exibir esta entrada
Icon=/home/fernando/.icons/extras/congelar.jpg

# Descreve se este aplicativo precisa ser executado em um terminal ou não
Terminal=false

# Descreve as categorias nas quais esta entrada deve ser mostrada
Categories=System;


# Palavras-chave para encontrar a aplicação. Deve  ser separada por ;

Keywords=congelar;deepfreeze;deeplock;ofrisis;usuario;freeze;
# Keywords[pt]=;
# Keywords[pt_BR]=;

# Funcionou no  menu do xfce4-popup-whiskermenu do XFCE


# NoDisplay: Não exibe a aplicação.


# Nos casos dos parâmetros Terminal e NoDisplay, podem ser usados dois valores, true para ativar o recurso e false para desativar o recurso.


