[Desktop Entry]
Name=Restart Conky
Comment=Barra de monitoramento,conky
Exec=conky.sh restart %f
Icon=preferences-desktop-theme
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=general

