[Desktop Entry]
# 
# 
# Entrada de aplicativos
# 
# As entradas de desktop para aplicativos, ou arquivos .desktop, geralmente são uma combinação de 
# recursos de meta informações e um atalho de um aplicativo. Esses arquivos geralmente residem em 
# /usr/share/applications/ ou /usr/local/share/applications/ para aplicativos instalados em todo 
# o sistema ou ~/.local/share/applications/ para aplicativos específicos do usuário. As entradas 
# do usuário têm precedência sobre as entradas do sistema.
# 
# 
# Exemplo de arquivo
# 
# A seguir, é apresentado um exemplo de sua estrutura com comentários adicionais. O exemplo serve 
# apenas para dar uma impressão rápida e não mostra como utilizar todas as chaves de entrada 
# possíveis. A lista completa de chaves pode ser encontrada na especificação da freedesktop. 
# 
# 
#
#
# Localização padrão dos diretórios:
#
# Diretório de aplicativos padrão para os aplicativos do sistema:
#
#  /usr/share/applications
#
# Diretório dos aplicativos do usuário:
#
# $HOME/.local/share/applications
#
#
# 
# 
# Atualizar banco de dados de entradas desktop
# 
# Para que as entradas da área de trabalho definidas em ~/.local/share/applications funcionem, execute o seguinte comando:
# 
# $ update-desktop-database ~/.local/share/applications
# 
# 
# https://wiki.archlinux.org/title/Desktop_entries_(Portugu%C3%AAs)
# https://diolinux.com.br/tecnologia/como-editar-o-menu-da-sua-distro.html
# https://elias.praciano.com/2014/02/verifique-qual-foi-o-ultimo-usuario-a-logar-no-sistema-com-o-comando-last/comando-last-mostra-quando-o-sistema-foi-desligado/#:~:text=O%20comando%20last%20%2Dx%20shutdown,que%20o%20sistema%20foi%20desligado.
#



# Confira algumas das opções e uma breve explicação sobre os parâmetros do arquivo .desktop:


# O tipo como listado acima
Type=Application

# A versão da especificação de entrada de desktop com a qual este arquivo está em conformidade
Version=1.0

# Nome da aplicação.
Name=Mostra quando o sistema foi desligado

# Um comentário que pode/será usado como uma dica da ferramenta / Descrição da aplicação.
Comment=O comando last -x shutdown exibe uma lista de todas as últimas vezes em que o sistema foi desligado.


# O caminho para a pasta na qual o executável é executado
Path=

# O executável do aplicativo, possivelmente com argumentos / Diretório do arquivo executável. / link do site
Exec=xfce4-terminal --maximize  --title="Mostra quando o sistema foi desligado..."   -e "last -x shutdown | head -n10 && sleep 40m"

# O nome do ícone que será usado para exibir esta entrada
Icon=/usr/share/icons/hicolor/512x512/apps/void-logo.png

# Descreve se este aplicativo precisa ser executado em um terminal ou não
Terminal=false

# Descreve as categorias nas quais esta entrada deve ser mostrada
Categories=System;


# Palavras-chave para encontrar a aplicação. Deve  ser separada por ;

Keywords=shutdown;desligado;sistema;
# Keywords[pt]=;
# Keywords[pt_BR]=;

# Funcionou no  menu do xfce4-popup-whiskermenu do XFCE


# NoDisplay: Não exibe a aplicação.


# Nos casos dos parâmetros Terminal e NoDisplay, podem ser usados dois valores, true para ativar o recurso e false para desativar o recurso.


